body{
    background-color: #0b6839;
    font-family: "Imbue";
}

.mic-icon {
  color: #fee101; 
  transition: color 0.3s ease;
  cursor: pointer;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
  pointer-events: none;
  position: absolute;
  transition: opacity 0.4s ease, color 0.4s ease, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.mic-container{
    --ripple-color: 255, 0, 128;
    height: 120px;
    width: 120px;
    background-color: rgba(var(--ripple-color),0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: dynamic-ripple 1.5s infinite;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.bar {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: bounce-bars 0.6s infinite alternate ease-in-out both;
}

.bar-1 { animation-delay: 0.1s; }
.bar-2 { animation-delay: 0.4s; }
.bar-3 { animation-delay: 0.2s; }

.default-mic {
    color: #fee101; 
    opacity: 1;
    transform: scale(1);
}

.active-mic {
    opacity: 1;
    transform: scaleX(0.0) scaleY(0.0);
}

.mic-container.listening .mic-icon {
    display: none;
}

.mic-container.listening .active-mic {
    display: block; 
    color: #000000;
    filter: none;
    transform: scale(1);
}

.main-container{
    height: 70vh;
    width: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.mic-container.listening {
    --ripple-color: 255, 230, 0;
    background-color: rgba(var(--ripple-color), 1); 
    animation: dynamic-ripple 1.5s infinite;
}

.mic-container.listening .default-mic {
    opacity: 0;
    transform: scaleX(0.1) scaleY(1.5);
}

.mic-container.listening .mic-icon {
    color: #000000;
    filter: none;
}

header{
    color: #fee101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.title{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 100px;
}
.subtitle{
    margin-top: 0;
    font-size: larger;
    align-self: auto;
}

@keyframes dynamic-ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(var(--ripple-color), 0.7);
    }
    70% {
        box-shadow: 0 0 0 40px rgba(var(--ripple-color), 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(var(--ripple-color), 0);
    }
}

@keyframes bounce-bars {
    0% { transform: scaleY(0.6); }
    100% { transform: scaleY(1); } 
}

